<div class="col-auto">
    <nav class="bg-light sidebar">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link">
                    <icon class="bi bi-bell"></icon>
                    新着公欠届
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-app-indicator"></icon>
                    公欠届未承認一覧
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-file-earmark-text"></icon>
                    活動報告一覧
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-app-indicator"></icon>
                    活動報告未承認一覧
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-search"></icon>
                    公欠届照会・検索
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-hourglass-split"></icon>
                    CSC確認待ち一覧
                </a>
            </li>
            <li class="nav-item"><a class="nav-link text-muted">
                    <icon class="bi bi-gear"></icon>
                    設定
                </a>
            </li>
        </ul>
    </nav>
</div>