@{
    ViewData["Title"] = "提出完了";
}

<div class="text-center">
    <h2>提出完了</h2>
    <p>提出が完了しました。</p>
    <p>教職員が内容を確認します。</p>
    <p>内容に問題が無かった場合は、連絡を行いません。公欠として処理します。</p>
    <p>内容に問題があった場合、理由と共にその旨をメールで通知します。</p>
    <p>その際は、メール記載のURLより改めて活動報告を提出して下さい。</p>
</div>