@{
    ViewData["Title"] = "ホーム";
}

<div class="text-center">
    <h2>ITカレッジ 公欠届提出/管理システム</h2>
    <p>日本工学院八王子専門学校 ITカレッジにおける、主に<mark>就職活動</mark>を目的とした公欠の申請用システムです。</p>
    <p>現状ではPCでのアクセスを想定して開発しています。スマートフォンでアクセスした場合、表示が乱れることがありますのでPCでのアクセスをお願いいたします。</p>
    <div class="mb-4">
        <a class="btn btn-outline-dark" asp-controller="Registration" asp-action="Index">申請はこちら</a>
        <a class="btn btn-outline-dark disabled" asp-controller="Report" asp-action="Index">活動報告はこちら</a>
        <a class="btn btn-outline-dark" asp-controller="TeachingStaff" asp-action="Index">教員・講師の方はこちら</a>
        <a class="btn btn-outline-dark" asp-controller="CSCStaff" asp-action="Index">CSC職員の方はこちら</a>
    </div>
</div>