@{
    ViewData["Title"] = "CSC職員用承認ページ";
}

<div class="containor-fluid">
    <div class="row">
        <div class="w-25">
            <nav class="bg-light sidebar">
                <ul class="nav flex-column ">
                    <li class="nav-item"><a class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16"><path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" /></svg>
                        新着公欠届<span class="badge bg-secondary"></span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16"><path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" /><path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" /></svg>
                        未確認公欠届一覧<span class="badge bg-secondary"></span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" /></svg>
                        公欠届照会・検索<span class="badge bg-secondary"></span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="w-75">
            <h1 class="h2">公欠届確認</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>通し番号</th>
                            <th>学科</th>
                            <th>学籍番号</th>
                            <th>氏名</th>
                            <th>公欠日</th>
                            <th>承認</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>202305290001</td>
                            <td>IS</td>
                            <td>G020C0000</td>
                            <td>〇〇 〇〇</td>
                            <td>2023/5/29</td>
                            <td>済</td>
                        </tr>
                        <tr>
                            <td>202305290002</td>
                            <td>IS</td>
                            <td>G020C0000</td>
                            <td>〇〇 〇〇</td>
                            <td>2023/5/29</td>
                            <td>未</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>