@{
    ViewData["Title"] = "CSC職員用承認ページ";
}

<div class="containor-fluid">
    <div class="row">
        <div class="w-25">
            <nav class="bg-light sidebar">
                <ul class="nav flex-column ">
                    <li class="nav-item">
                        <a class="nav-link">
                            <icon class="bi bi-bell"></icon>新着公欠届
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <icon class="bi bi-app-indicator"></icon>未確認公欠届一覧
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <icon class="bi bi-search"></icon>公欠届照会・検索
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="w-75">
            <h1 class="h2">公欠届確認</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>通し番号</th>
                            <th>学科</th>
                            <th>学籍番号</th>
                            <th>氏名</th>
                            <th>公欠日</th>
                            <th>承認</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>202305290001</td>
                            <td>IS</td>
                            <td>G020C0000</td>
                            <td>〇〇 〇〇</td>
                            <td>2023/5/29</td>
                            <td>済</td>
                        </tr>
                        <tr>
                            <td>202305290002</td>
                            <td>IS</td>
                            <td>G020C0000</td>
                            <td>〇〇 〇〇</td>
                            <td>2023/5/29</td>
                            <td>未</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>