@{
    ViewData["Title"] = "提出完了";
}

<div class="text-center">
    <h2>提出完了</h2>
    <p>提出が完了しました。</p>
    <p>内容に問題が無かった場合は、活動日に活動報告の案内メールをお送りします。</p>
    <p>活動が終了しましたら、メールに記載のURLより、活動報告を提出してください。</p>
    <p>内容に問題があった場合、理由と共にその旨をメールで通知します。</p>
    <p>その際は、理由を踏まえた上で、改めて公欠届を提出してください。</p>
</div>