@{
    ViewData["Title"] = "公欠情報登録";
    DateTime Today = DateTime.Today;
}
@model RegistrationModel

<!--説明文-->
<div class="text-center mb-3">
    <h2>公欠届提出</h2>
    <p>公欠の情報を提出します。以下の内容を記入してください。</p>
    <p><strong>申請は<mark>1日毎</mark>となります。</strong></p>
    <p>事前に公欠日が分かっている場合、<mark><strong>1週間前</strong></mark>までに申請してください。</p>
</div>

<!--プログレスバー-->
<div class="position-relative my-5 mx-3">
    <div class="progress" style="height: 1px;">
        <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
        style="width: 2rem; height:2rem;">1</button>
    <button type="button"
        class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill"
        style="width: 2rem; height:2rem;">2</button>
    <button type="button"
        class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
        style="width: 2rem; height:2rem;">3</button>
</div>

<!--入力フォーム-->
<form method="post" asp-controller="Registration" asp-action="Check">

    <!-- 学籍番号 -->
    <div class="my-3 row">
        <label class="col-sm-2 col-form-label">学籍番号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Number" placeholder="入力してください" asp-for="Number" required>
        </div>
    </div>

    <!-- 学科 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">学科</label>
        <div class="col">
            <select class="form-select" required name="Department" asp-for="Department">
                <option selected disabled value="">選択してください</option>
                <option>ITスペシャリスト科</option>
                <option>情報処理科</option>
                <option>ネットワークセキュリティ科</option>
                <option>AIシステム科</option>
                <option>情報ビジネス科</option>
            </select>
        </div>
    </div>

    <!-- 学年 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">学年</label>
        <div class="col">
            <select class="form-select" required name="Grade" asp-for="Grade">
                <option selected disabled value="">選択してください</option>
                <option>1年</option>
                <option>2年</option>
                <option>3年</option>
                <option>4年</option>
            </select>
        </div>
    </div>

    <!-- クラス -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">クラス</label>
        <div class="col">
            <select class="form-select" required name="Class" asp-for="Class">
                <option selected disabled value="">選択してください</option>
                <option>1組</option>
                <option>2組</option>
                <option>3組</option>
                <option>4組</option>
                <option>5組</option>
                <option>6組</option>
            </select>
        </div>
    </div>

    <!-- 氏名 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">氏名</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="入力してください" name="Name" asp-for="Name" required>
        </div>
    </div>

    <!-- 公欠日 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">公欠日</label>
        <div class="col">
            <input type="date" class="form-control" name="Date" asp-for="Date" required>
        </div>
    </div>

    <!-- 欠席時限 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">欠席時限</label>

        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period11" name="Period11">
            <label class="form-check-label" asp-for="Period11">1時限目-前半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period12" name="Period12">
            <label class="form-check-label" asp-for="Period12">1時限目-後半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period21" name="Period21">
            <label class="form-check-label" asp-for="Period21">2時限目-前半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period22" name="Period22">
            <label class="form-check-label" asp-for="Period22">2時限目-後半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period31" name="Period31">
            <label class="form-check-label" asp-for="Period31">3時限目-前半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period32" name="Period32">
            <label class="form-check-label" asp-for="Period32">3時限目-後半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period41" name="Period41">
            <label class="form-check-label" asp-for="Period41">4時限目-前半</label>
        </div>
        <div class="col form-check form-check-inline">
            <input class="form-check-input" type="checkbox" asp-for="Period42" name="Period42">
            <label class="form-check-label" asp-for="Period42">4時限目-後半</label>
        </div>
    </div>

    <!-- 教科 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">教科(1時限)</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="入力してください" name="Subject1" asp-for="Subject1">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">教科(2時限)</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="入力してください" name="Subject2" asp-for="Subject2">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">教科(3時限)</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="入力してください" name="Subject3" asp-for="Subject3">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">教科(4時限)</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="入力してください" name="Subject4" asp-for="Subject4">
        </div>
    </div>

    <!-- 活動内容 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">活動内容</label>
        <div class="col">
            <select class="form-select" name="Activity" asp-for="Activity" required>
                <option selected disabled value="">選択してください</option>
                <option>合同説明会</option>
                <option>説明会</option>
                <option>試験</option>
                <option>研修</option>
                <option>その他</option>
            </select>
        </div>
    </div>

    <!-- 企業名 -->
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">企業名/主催者</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="企業が複数ある場合は、1社ずつ、活動企業数分を提出してください。" name="Company"
                asp-for="Company" required>
        </div>
    </div>

    <!--確認画面遷移ボタン-->
    <div class="text-center">
        <button class="btn btn-primary" type="submit" asp-controller="Registration"
            asp-action="Check">入力内容を確認する</button>
    </div>

</form>